[submodule "system"]
	path = system
	url = git@github.com:kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:kohana/cache.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = https://github.com/zombor/KOstache.git
